
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/mobrend_logger"]
	path = external/mobrend_logger
	url = git@github.com:lahoising/MobRendLogger.git
[submodule "external/stb_image"]
	path = external/stb_image
	url = https://github.com/nothings/stb.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "external/spirv-cross"]
	path = external/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
